{% extends 'base.html' %}

{% block title %} <title>Cart</title> {% endblock %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
        </div>
    </div>
</header>
<br>
<div class="container" id="main-part">
    {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3" id="card{{ product.id }}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <center>
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>

                            {% if product.is_sale %}
                                    <!--Sale-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                        <s> ${{ product.price }} </s> 
                                        &nbsp;${{ product.sale_price }}
                            {% else %}
                                ${{ product.price }}
                            {% endif %}
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-md-2">Quantity:</div>
                                <div class="col-md-2">
                                    <select class="form-select form-select-sm" id="select{{ product.id }}">
                                            {% for id, qty in quantities.items %}
                                                {% if id == product.id|slugify %}
                                                    <option selected>{{ qty }}</option>
                                                {% endif%}
                                            {% endfor %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">
                                Update
                            </button>

                            <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-cart-prod">
                                Remove
                            </button>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h3>Total: ${{ totals }}</h3>
    {% else %}
        There's nothing in your cart
    {% endif %}
        
</div>

<br><br>
<br><br>

<script>
    $(document).on('click', '.update-cart', function(e){
      e.preventDefault();
      $.ajax({
          type: 'PUT',
          url: "{% url 'cart_update' %}",
          headers: {"X-CSRFToken": '{{ csrf_token }}'},
          data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + $(this).data('index') + ' option:selected').text()
          },
          success: function(json){
            location.reload();
          },
          error: function(xhr, errmsg, err){
  
          }
      });
    })
  </script>


<script>
    $(document).on('click', '.delete-cart-prod', function(e){
      e.preventDefault();
      let product_id = $(this).data('index');

      if (!confirm("Are you sure you want to delete this product from your cart?")) {
        return
      }

      $.ajax({
          type: 'DELETE',
          url: "{% url 'cart_delete' %}",
          headers: {"X-CSRFToken": '{{ csrf_token }}'},
          data: {
            product_id: $(this).data('index')
          },
          success: function(json){
            const product = document.getElementById("card" + product_id);
            product.remove();

            const cards = document.getElementsByClassName("card").length;
            console.log(cards);
            if (cards == 0) {
                const main = document.getElementById("main-part");
                const text = document.createTextNode("There's nothing in your cart");
                main.appendChild(text);
            }
            location.reload();
          },
          error: function(xhr, errmsg, err){
  
          }
      });
    })
  </script>

{% endblock %}
  