{% extends 'base.html' %}

{% block title %} <title>About</title> {% endblock %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to My Ecommerce Site</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id posuere ex. Nulla diam odio, interdum non felis quis, porttitor malesuada dolor. In eget rhoncus dolor. Nullam quam urna, porttitor a lacinia ut, elementum vel nisl. Nunc aliquam dictum feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam diam lacus, dignissim vitae ultrices eu, efficitur quis risus.

Suspendisse lorem lectus, volutpat vel ultrices vel, pellentesque ut felis. Nulla quis arcu accumsan, consequat nibh vitae, convallis turpis. Duis ut ipsum ac leo hendrerit posuere. Nam interdum, ipsum sit amet laoreet rutrum, enim lacus vehicula risus, a semper leo elit et ante. Integer erat tellus, accumsan commodo mauris eu, auctor lacinia justo. Sed non quam suscipit tellus imperdiet volutpat. Cras accumsan sem non augue viverra, ac hendrerit augue tempor. Integer sit amet velit bibendum, lobortis mauris et, porta ante. Fusce sapien turpis, tincidunt non cursus ultricies, gravida et dolor. Nullam ac hendrerit felis. Donec consectetur lacus vel tincidunt suscipit. Nunc sodales lectus facilisis nunc sollicitudin semper. Phasellus at suscipit orci. Ut sit amet enim condimentum dolor molestie scelerisque. Proin ac luctus enim. Nulla rhoncus efficitur tellus, ut porttitor augue sagittis in.
<br><br>
Duis volutpat, sapien eu laoreet egestas, lorem sem interdum dui, convallis pulvinar elit odio eu enim. Proin quis ultricies diam, sed rutrum nisl. Mauris imperdiet nisl nibh, eget sodales nibh rhoncus sit amet. Suspendisse tempor in ligula id bibendum. Suspendisse viverra ex urna, et consequat ante congue in. Morbi vehicula metus non nisi placerat sagittis. Phasellus ac vestibulum ante. Ut in feugiat risus. Nam in tempor odio, at finibus ligula. Aliquam bibendum scelerisque blandit. Mauris vitae facilisis libero. Aenean eget tristique erat, vel mollis dolor. Duis consectetur lacus sit amet tortor convallis rutrum. Maecenas ullamcorper massa tortor, at posuere nibh lacinia eget. Maecenas tellus ex, pharetra eget dignissim et, eleifend et lacus. Integer sed ligula ac odio laoreet sagittis. 
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}