{% extends 'base.html' %}

{% block title %} <title>Order Items</title> {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <div class="card">
                    <div class="card-header">
                      Order {{ order.id }} - ${{ order.amount_paid }}
                    </div>
                    <div class="card-body">
                        Date Ordered: {{ order.date_ordered }}<br>
                        {% if order.date_shipped %}
                            Date Shipped: {{ order.date_shipped }}<br>
                        {% endif %}
                        Email: {{ order.email }}<br><br>
                        <strong>Shipping Info</strong><br>
                        <pre>{{ order.full_name }}<br>{{ order.shipping_address }}</pre>
                        <strong>Items</strong><br>
                        {% for item in items %}
                            {{ item.product }} - {{ item.quantity }} - ${{ item.price }}<br>  
                        {% endfor %}
                        <br><br>
                        {% if not order.shipped %}
                            <form method="POST" id="ship_form">
                                {% csrf_token %}
                                <input type="hidden" name="shipping_status" value="true">
                                <button type="Submit" class="btn btn-success" id="do_ship">Mark as Shipped</button>
                            </form>
                        {% else %}
                            <form method="POST" id="not_ship_form">
                                {% csrf_token %}
                                <input type="hidden" name="shipping_status" value="false">
                                <button type="Submit" class="btn btn-danger" id="not_ship">Mark as Not Shipped</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
                <br><br><br>
            </div>
        </center>
    </div>
</div>

<script>
    $(document).on('click', '#do_ship', function(e) {
        e.preventDefault();
        if (confirm("Are you sure you want to change the status to 'Shipped'?")) {
            $("#ship_form").submit();
        }
    })
</script>

<script>
    $(document).on('click', '#not_ship', function(e) {
        e.preventDefault();
        if (confirm("Are you sure you want to change the status to 'Not Shipped'?")) {
            $("#not_ship_form").submit();
        }
    })
</script>

{% endblock %}